<?xml version="1.0" encoding="utf-8" ?>
<appSettings configBuilders="SitecoreAppSettingsBuilder">
	<add key="BuyerId" value="0001" />
	<add key="CatalogId" value="0001" />
	<add key="ClientId" value="2BD024EF-A285-4469-9948-36246083A588" />
	<add key="ClientSecret" value="RGPTLzWoUI1ZehGdUlyQlotf1fDrcAJT8nSudZ7NfcZLHEdyNIcGVVnJVZSy" />
	<add key="Username" value="admin" />
	<add key="Password" value="123qweASD!@#" />
</appSettings>