<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor type="Tshirts.Feature.Shop.Repositories.LoadRoutes,Tshirts.Feature.Shop" patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" />
            </initialize>
        </pipelines>
    </sitecore>
</configuration>