@model Sitecore.Mvc.Presentation.RenderingModel
@using BasicCompany.Feature.BasicContent
@using BasicCompany.Foundation.FieldRendering

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".Sitecore T-Shirt">Sitecore T-Shirt</li>
                        <li data-filter=".T-Shirt 2">T-Shirt 2</li>
                        <li data-filter=".lemon">Lemon</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            <div class="col-lg-4 col-md-6 text-center Sitecore T-Shirt">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html">
                            <img src="https://ih1.redbubble.net/image.263500281.7928/ssrco,slim_fit_t_shirt,flatlay,fafafa:ca443f4786,front,wide_portrait,750x1000-bg,f8f8f8.u4.jpg"
                                 alt="">
                        </a>
                    </div>
                    <h3>Sitecore T-Shirt</h3>
                    <p class="product-price"><span>Per Item</span> 85$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center T-Shirt 2">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html">
                            <img src="https://m.media-amazon.com/images/I/A13usaonutL._CLa%7C2140%2C2000%7C51-1kfZUhzL.png%7C0%2C0%2C2140%2C2000%2B0.0%2C0.0%2C2140.0%2C2000.0_AC_UL1500_.png"
                                 alt="">
                        </a>
                    </div>
                    <h3>T-Shirt 2</h3>
                    <p class="product-price"><span>Per Item</span> 70$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center lemon">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html">
                            <img src="https://m.media-amazon.com/images/I/A13usaonutL._CLa%7C2140%2C2000%7C71uuesDZ8sL.png%7C0%2C0%2C2140%2C2000%2B0.0%2C0.0%2C2140.0%2C2000.0_AC_UX679_.png"
                                 alt="">
                        </a>
                    </div>
                    <h3>Lemon</h3>
                    <p class="product-price"><span>Per Item</span> 35$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/product-img-4.jpg" alt=""></a>
                    </div>
                    <h3>Avocado</h3>
                    <p class="product-price"><span>Per Item</span> 50$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html">
                            <img src="https://m.media-amazon.com/images/I/A13usaonutL._CLa%7C2140,2000%7C51-1kfZUhzL.png%7C0,0,2140,2000+0.0,0.0,2140.0,2000.0_AC_UL1500_.png"
                                 alt="">
                        </a>
                    </div>
                    <h3>Green Apple</h3>
                    <p class="product-price"><span>Per Item</span> 45$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center Sitecore T-Shirt">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/product-img-6.jpg" alt=""></a>
                    </div>
                    <h3>Sitecore T-Shirt</h3>
                    <p class="product-price"><span>Per Item</span> 80$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->