@using Sitecore.Data
@using Tshirts.Feature.shop


<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row product-lists">
            @{
                var prodSectionList = @Html.Sitecore().Field(Templates.BasicContent.Fields.ProductSectionList);
            }


            @foreach (var productId in prodSectionList.ToString().Split('|'))
            {

                Sitecore.Data.Database master = Sitecore.Configuration.Factory.GetDatabase("master");
                var prodItem = master.GetItem(productId);


                var images = prodItem.Fields["Images"].Value.Split('|');
                var price = Double.Parse(prodItem.Fields["Price"].ToString()).ToString("#.##");

                <div class="col-lg-4 col-md-6 text-center Sitecore T-Shirt">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="/Shop/Products/@prodItem.Fields["Id"]">
                                <img src="@images.First().Split(';').Last()" alt="">
                            </a>
                        </div>
                        <h3>Sitecore T-Shirt</h3>
                        <p class="product-price"><span>Per Item</span> @price$ </p>
                        <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- end products -->